<script type="text/javascript" src="/assets/js/upload.js"></script>
<br />
<div class="panel panel-default">
    <div class="panel-heading">My Videos</div>
    <ul class="videos" *ngIf="videos?.length">
      <li *ngFor="let video of videos">
        <div class="card">
          <div class="card-body">
            <video controls>
              <source src="/backend/{{video.file}}">
            </video>

              <h6 class="card-title">{{video.name}}</h6>

            <button class="delete" title="delete hero"
          (click)="delete(video)">x</button>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="!videos.length" >
      You have not uploaded any videos
    </div>

</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="video">New Video</label>
    <input type="file" id="video" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  </div>
  <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form>
