<script type="text/javascript" src="/assets/js/upload.js"></script>
<br />
<div class="panel panel-default">
    <div class="panel-heading">My Videos</div>
      <div class="flex-container">
        <div *ngFor="let video of videos" class="flex-item">
          <div class="card">
            <div class="card-body">
              <video class="video" width="320" height="240"  controls>
                <source src="/backend/{{video.file}}">
              </video>
              <div>
                    <span class="card-title">{{video.name}}</span>

                  <button class="delete" title="delete hero" (click)="delete(video)">x</button>
              </div>
            </div>
          </div>
        </div><!-- end ngfor -->
      </div>
    <div *ngIf="!videos" >
      You have not uploaded any videos
    </div>

</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="video">New Video</label>
    <input type="file" id="video" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  </div>
  <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form>
