/* AppComponent's private CSS styles */
/*h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}*/
body{
  background-color: rgb(100,100,100);
}
.routerLinkActive {
  background-color: #CFD8DC;
}
.container{
  background-color: rgb(200,200,200);
}
.myheader{
  color: rgb(35, 35, 168);
  text-shadow: 0px 0px 4px #AAAAAA;
  font-weight: bold;
  border-bottom: 10px rgb(25,25,130);
  padding-left: 1%;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
